{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Job Recommendations</title>
    <!-- Link to the CSS file -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <h2>Top 5 Job Recommendations</h2>

    <table>
      <thead>
        <tr>
          <th>Job Title</th>
          <th>Location</th>
          <th>Match Score (%)</th>
        </tr>
      </thead>
      <tbody>
        {% for job in recommended_jobs %}
        <tr>
          <td>{{ job.job.job_title }}</td>
          <td>{{ job.job.location }}</td>
          <td>{{ job.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
